@charset "UTF-8";

:root {
    /*COR PRETA*/
    --cor0: #0E0F11;
    --cor01: #212B2A;
    --cor02: #333738;
    --cor03: #3A434A;
    --cor04: #404A4C;

    /*COR MARROM*/
    --cor00: #3D2217;
    --cor001: #6A452C;
    --cor002: #976841;

    /*COR CINZAR*/
    --cor000: #3e4144;
    --cor:0001: #45484a;
    --cor: #474b4e;

    /*COR BRANCA*/
    --cor: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor002);
    color: var(--cor0);
}

a.externo:after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor002), var(--cor));
    min-height: 140px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    color: var(--cor);
    font-family: Arial, Helvetica, sans-serif;font-size: 2.8em;
    font-weight: bold;
    margin-top: 10px;
    text-shadow: 2px 2px 0px var(--cor01);
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: blue;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px lawngreen;
}

nav {
    background-color: #976841;
    padding: 10px;
    box-shadow: 0px 7px 7px var(--cor0);
}